<phpunit bootstrap="bootstrap.php">
    <php>
        <ini name="auto_prepend_file" value="polyfills.php"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Storytelling">
            <directory>Storytelling</directory>
        </testsuite>
        <testsuite name="Operations">
            <directory>Operations</directory>
        </testsuite>
    </testsuites>
</phpunit>
